.calculator {
  max-width: 300px;
  margin: 50px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  color: aliceblue;
  background-color: #333;
}

.display {
  margin: 10px;
  padding: 10px;
  background-color: #f4f4f4;
  display: flex;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 1.5em;
}

.result {
  margin-top: 10px;
  font-size: 20px;
  color: wheat;
  padding-left: 20px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 10px;
}

button {
  border: none;
  padding: 15px;
  margin: 3px;
  background-color: purple;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #a7e02a;
}

.clear-equal {
  background-color: rgb(252, 5, 133);
}
.input {
  color: #333;
}
